################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LOLs/LOLs.vcxproj
/LOLs/LOLs.vcxproj.filters
