################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LOLs/LOLs.vcxproj
/LOLs/LOLs.vcxproj.filters
/.vs/LOLs/FileContentIndex/115153b4-6fc2-4eb8-be53-d478076096d9.vsidx
